
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.navigation-navBar {
    border-radius: 18px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600; 
    padding: 12px 20px;
}

.navigation-navBar:hover {
    background-color: #39288e;
    font-weight: 700; 
}

.navBar {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.navBar:hover {
    border-radius: 20px;
}

.list {
    border-right: 1px solid gray;
    background-color: #271b63;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}


.columnColor {
    background-color: #271b63;
}


.logout {
    font-family: 'Nunito', sans-serif;
}

.opciones{
    margin-bottom: 15px;
}

.cerrardiv {
    margin-top: 250px;
}