.der{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 35px;
    border-left: 0.5px solid #c7c8c9;
    border-top: 0.5px solid #c7c8c9;
    border-bottom: 0.5px solid #c7c8c9;
    background-color: white;
}